doctype html
html(lang="en")
  head
    title Boilerplate
    link(type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" media="screen")
    link(type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,300,600" media="screen")
    link(type="text/css" rel="stylesheet" href="/css/styles.css" media="screen")
  body
    #app
    script(src="/js/app.js")
